.container {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #dddddd85;
    border-radius: 20px;
    padding: 30px;
}
.alert {
    background-color: indianred;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 25px;
}

#form-upload {}
#form-upload > div {}
#form-upload > div > span {}
#form-upload > div > input {}
#form-upload > input {
    background-color: greenyellow;
    border: 0;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
}